#spec file
.DS_Store
LICENSE
README.md
__pycache__/
.vscode/
download.sh

#image
*.jpg
*.jpeg
*.png

#python
attacks.py
logger.py
model.py
noise.py

#folder
data/celeba/images
defenses/
jpg/
stargan_celeba_256/